[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/Gundo"]
	path = bundle/Gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/thisivan/vim-bufexplorer.git
[submodule "bundle/vim-showmarks"]
	path = bundle/vim-showmarks
	url = https://github.com/vimez/vim-showmarks.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
